<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="../css/imgs.css">
    <title>Image Gallery</title>
</head>
<body>
   <h1>Images</h1>
   <ul id="imageGallery">
       <li><a href="../images/Tmac1.jpeg" title="McGrady_magic"><img src="../images/Tmac1_min.jpg"  alt="麦迪1"></a></li>
       <li><a href="../images/Tmac2.jpeg" title="McGrady_rocket"><img src="../images/Tmac2_min.jpeg" alt="麦迪2"></a></li>
       <li><a href="../images/Tmac3.jpeg" title="McGrady_magicblue"><img src="../images/Tmac3_min.jpeg" alt="麦迪3"></a></li>
       <li><a href="../images/Tmac4.jpeg" title="McGrady_magic"><img src="../images/Tmac4_min.jpeg" alt="麦迪4"></a></li>
   </ul>
   <p id="last" style="clear: both">JavaScript：DOM编程艺术</p>
   <script src="../js/imgs.js"></script>
</body>
</html>
